<div class='post-comments-wrapper'>
  <div class='comments-title'>
    <h2>Comments</h2>
  </div>

  {{!-- {{log 'handlebars this' this}}
  {{log 'handlebars partial comments' comments}} --}}
  {{#each this}}
  <div class="comment">
    <h4 class="comment-by">{{user.name}} on {{format_date date_created}}</h4>
    <p class="formatted-post">{{content}}</p>
  </div>
  {{/each}}
</div>